/* navbar.css */
.navbar-tech-theme {
  background: var(--gradient-bg);
  padding: 6px 10px;
  border-bottom: 2px solid var(--primary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar-brand-custom {
  font-size: 1.125rem;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.navbar-brand-custom i {
  font-size: 2rem;
  margin-right: 10px;
  color: white;
}

.navbar-brand-custom:hover {
  color: var(--primary-color);
  
}

@media (max-width: 768px) {
  .navbar-tech-theme {
    padding: 4px 10px;
  }

  .navbar-brand-custom {
    font-size: 1rem;
  }

  .navbar-brand-custom i {
    font-size: 1.5rem;
  }
}
