/* table.css */
.table {
  color: var(--text-color);
  border: 1px solid var(--primary-color);
  background: var(--table-bg);
  border-radius: 10px;
}

.table th {
  background: var(--background-color);
  color: var(--primary-color);
  font-weight: 00;
  text-align: center;
}

.table-hover tbody tr:hover {
  background: var(--hover-bg);
  transition: background 0.3s ease;
}

.table-header {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-weight: bold;
}

.table-header th {
  text-align: center;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .table th, .table td {
    font-size: 0.875rem;
    padding: 8px;
  }

  .table-header th {
    font-size: 0.875rem;
  }
}
